<div class="container-fluid">
  <div class="spacer"></div>
  <div class="row">
    <div class="col-lg-6 col-md-12 border-right border-bottom  Africa">

      <div class="headline">
        <a [routerLink]="['/all','africa']">AFRICA</a>
      </div>
      <div class="list">
        <ul>
          <li>
            Area: 30,370,000 km2
          </li>
          <li>
            Population: ‎1,225,080,510
          </li>
          <li>
            Countries: 54
          </li>
        </ul>
        <div>
          <blockquote>
            No other continent has endured such an unspeakably bizarre combination of foreign thievery and foreign goodwill
            <footer>
              <cite>
                Barbara Kingsolver, The Poisonwood Bible
              </cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-12 border-bottom  Americas">
      <div class="headline">
        <a [routerLink]="['/all','americas']">AMERICAS</a>
      </div>



      <div class="list">
        <ul>
          <li>
            Area: ‎42,549,000 km2
          </li>
          <li>
            Population: 1,001,559,000
          </li>
          <li>
            Countries: 35
          </li>
        </ul>
        <div>
          <blockquote>
            America is the land of the second chance - and when the gates of the prison open, the path ahead should lead to a better
            life.
            <footer>
              <cite>
                George W.Bush
              </cite>
            </footer>
          </blockquote>
        </div>

      </div>






    </div>



    <div class="col-lg-6 col-md-12 border-right border-bottom  Asia">
      <div class="headline">
        <a [routerLink]="['/all','asia']">ASIA</a>
      </div>

      <div class="list">
        <ul>
          <li>
            Area: ‎44,579,000 km2
          </li>
          <li>
            Population: ‎4,462,676,731
          </li>
          <li>
            Countries: 49
          </li>
        </ul>
        <div>
          <blockquote>
            Asia is an entertainment, Europe is a dream, America is an imprisonment and Rest is a nightmare.
            <footer>
              <cite>
                Santosh Kalwar
              </cite>
            </footer>
          </blockquote>
        </div>

      </div>



    </div>
    <div class="col-lg-6 col-md-12 border-bottom  Europe">
      <div class="headline">
        <a [routerLink]="['/all','europe']">EUROPE</a>
      </div>

      <div class="list">
        <ul>
          <li>
            Area: 10,180,000 km2
          </li>
          <li>
            Population: ‎741,447,158
          </li>
          <li>
            Countries: 50
          </li>
        </ul>
        <div>
          <blockquote>
            ...the art of Europe is drowned in the centuries in the war-scarred face of a motherland..
            <footer>
              <cite>
                ― John Geddes, A Familiar Rain
              </cite>
            </footer>
          </blockquote>
        </div>

      </div>




    </div>
    <div class="col-lg-6 col-md-12 border-right border-bottom  Oceania">
      <div class="headline">
        <a [routerLink]="['/all','oceania']">OCEANIA</a>
      </div>

      <div class="list">
        <ul>
          <li>
            Area: 8.526 million km²
          </li>
          <li>
            Population: ‎40,117,432
          </li>
          <li>
            Countries: 16
          </li>
        </ul>
        <div>
          <blockquote>
            “Oceania is vast, Oceania is expanding, Oceania is hospitable and generous, Oceania is humanity rising from the depths of
            brine and regions of fire deeper still, Oceania is us. We are the sea, we are the ocean…”

            <footer>
              <cite>
                Epeli Hauʻofa, We Are the Ocean: Selected Works
              </cite>
            </footer>
          </blockquote>
        </div>

      </div>




    </div>

  </div>
  <div class="spacer"></div>